/* use modules namespace for css files linked to pages / components */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #eaeaea;
    background-color: aqua;
}